.board {
    display: grid;
    grid-template-rows: 20vmin 20vmin 20vmin;
    grid-template-columns: 20vmin 20vmin 20vmin;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.cell {
  background: blue;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

h2 {
    background-color: black;
    color: white;
    border: 15px solid black;
    border-radius: 50%;
    margin: 10px;
  }

h2:hover {
    background-color: white;
    color: black;
    margin: 10px;
  }
  

button {
    margin-top: 30px;
    padding: 15px;
    background-color: aqua;
    color: black;
    border-radius: 5px;
    font-size: 20px;
  }
  
  button:hover {
    background-color: white;
    color: black;
  }