.game-board {
    display: grid;
    grid-template-rows: 20vmin 20vmin 20vmin;
    grid-template-columns: 20vmin 20vmin 20vmin;
}

body {
  display: flex;
  justify-content: center;
}
.box {
  background: blue;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
}

button {
    background-color: aqua;
    width: 15vmin;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmin;
    height: 5vmin;    
}